# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# Logs & runtime
*.log
*.tmp
*.bak

# Odoo related (common)
.odoorc
odoo.log
.odoo_session
